STANDARD_USERNAME=
STANDARD_PASSWORD=
LOCKED_OUT_USERNAME=
LOCKED_OUT_PASSWORD=
PROBLEM_USERNAME=
PROBLEM_PASSWORD=
PERFORMANCE_GLITCH_USERNAME=
PERFORMANCE_GLITCH_PASSWORD=
ERROR_USERNAME=
ERROR_PASSWORD=
VISUAL_USERNAME=
VISUAL_PASSWORD=